@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root {
  --thai-font: 'Sarabun', sans-serif;
  --normal-font: 'Ubuntu', sans-serif;
  --primaryColor: #3b12e0;
  --secondaryColor: #ff0505;
  --greyColor: #e5e5e5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  padding: 0px 5%;
}
.App-header {
  min-height: 80px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid var(--greyColor);
  margin-bottom: 24px;
}
.Logo {
  font-weight: 700;
  display: flex;
  align-items: center;
  font-family: var(--normal-font);
}
.flag {
  border-radius: 2px;
  overflow: hidden;
  width: 35px;
  height: calc(10px + 2vmin);
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flagBlueStripe,
.flagRedStripe {
  width: 100%;
  height: 26%;
  background-color: var(--primaryColor);
}
.flagRedStripe {
  height: 20%;
  background-color: var(--secondaryColor);
}

/* Word Blocks */
.WordBlock {
  width: 370px;
  height: 125px;
  border-radius: 15px;
  border: 1px solid var(--greyColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  margin-bottom: 12px;
}
.Wb-main,
.Wb-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Wb-info {
  height: 90%;
  align-items: center;
}
.Wb-title {
  font-size: 48px;
  font-family: var(--thai-font);
}
.thaiWord {
  font-family: var(--thai-font);
  font-size: 24px;
}
.pronunciation {
  color: #999;
}
.play-circle {
  fill: #fff;
  stroke: var(--primaryColor);
  transition: fill 350ms ease-in-out;
}
.play-circle:hover {
  fill: #9d84ff;
}

.WordBlockWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.blockTitle {
  font-family: var(--normal-font);
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 3px solid var(--primaryColor);
  margin-bottom: 32px;
  font-weight: 500;
}

/* Mobile */

@media screen and (max-width: 768px) {
  .WordBlock {
    width: 100%;
  }
  .blockTitle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
