@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
  --thai-font: 'Sarabun', sans-serif;
  --normal-font: 'Ubuntu', sans-serif;
  --logoFont: 'Carter One', cursive;
  --primaryColor: #280c99;
  --secondaryColor: #ff0505;
  --greyColor: #e5e5e5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  padding: 0px 5%;
  font-family: var(--normal-font);
}
.App-header {
  min-height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--greyColor);
  margin-bottom: 24px;
}
.Logo {
  font-size: calc(12px + 2vmin);
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--primaryColor);
  font-family: var(--normal-font);
}
.logoTitle {
  margin: 0px 8px;
  padding: 4px 0px;
}

/* Word Blocks */
.WordBlock {
  width: 370px;
  height: 125px;
  border-radius: 15px;
  border: 1px solid var(--greyColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  margin-bottom: 12px;
}
.WordBlock:hover {
  box-shadow: 0px 0px 10px rgb(185, 185, 185);
}
.Wb-main,
.Wb-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Wb-info {
  height: 90%;
  align-items: center;
}
.Wb-title {
  font-size: 48px;
  font-family: var(--thai-font);
}
.thaiWord {
  font-family: var(--thai-font);
  font-size: 24px;
}
.pronunciation {
  color: #999;
}
.play-circle {
  fill: #fff;
  stroke: var(--primaryColor);
  transition: fill 350ms ease-in-out;
}
.play-circle:hover {
  fill: #9d84ff;
}

.WordBlockContainer {
  margin-bottom: 48px;
}
.WordBlockWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.blockTitle {
  font-size: calc(10px + 2vmin);
  font-family: var(--normal-font);
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 3px solid var(--primaryColor);
  margin-bottom: 32px;
  font-weight: 500;
}

/* Mobile */

@media only screen and (max-width: 768px) {
  .WordBlock {
    width: 100%;
  }
}

/* Tablets */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .WordBlock {
    width: 49%;
  }
}
